# env
.venv/
.vscode/
.env
token.pickle
.keys/

# Cahce
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
models/

# Other
chroma-db-memory*/
chroma-db-setting*/
client_secrets.json
.vscode
agent_history.gif