# env
.venv/
.vscode/
.env
token.pickle

# Cahce
__pycache__/
*.pyc
.mypy_cache/

# Unity
AItuber/Assets/Fonts/NotoSansJP-Medium SDF.asset

# Other
chroma-db-memory/
chroma-db-setting/
client_secrets.json
.vscode
AItuber/Assets/Fonts/NotoSansJP-Medium SDF.asset
