# env
.venv/
.vscode/
.env
token.pickle
.keys/

# Cahce
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# Unity
AItuber/Assets/Fonts/NotoSansJP-Medium SDF.asset
Build/


# Other
chroma-db-memory/
chroma-db-setting/
client_secrets.json
.vscode
AItuber/Assets/Fonts/NotoSansJP-Medium SDF.asset
AItuber/Assets/Fonts/NotoSansJP-Medium SDF.asset.meta
